*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
main{
    border: 2px solid black;
    width: 90%;
    margin: 50px auto;
    color: white;
    display: grid;
    grid-template-rows: 150px 150px 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
}
#header-img{background-color: blue;}
#Ara-profile{background-color: red;}
#social-icon{background-color: yellow;}
#product-img{background-color: mediumorchid;}
#product-info{background-color: gray;}
#side-bar{background-color: black;}
#unoder-list{background-color: green;}
#unoder-list2{background-color: skyblue;}
#oder-list{background-color: fuchsia;}
#form{background-color: mediumslateblue;}


/* #bg-img{
    width: 100%; 
    margin: 0px;
    padding: 0px;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    display: block;
    margin: 0px;
    padding: 0px;
    float:left;
    width: 75%;
}
h1{
    text-align: center;
}
P{
    display: block;
    text-align: left;
}


.product-img{
    width: 35%;
    display: block;
    float: left;
}
aside{
display: block;
    float:left;
    width: 25%;
    text-align: left;
    margin-top: 60px;

}
#aside-panal{
    display: block;
    float: left;
    margin-left: 10px;
}

#product1-img{
    display: block;
    width: 90%;
    margin-top: 50px;
}
ul{
    display: block;
    float: left;
    margin-right: 30%;
    
}
ol{
    display: block;
    float: left;
}
#order-margin{
    margin-top: 50px;
}
#joinUs-form{
    display: block;
    text-align: left;
}
fieldset{
margin: 0% 30% ;
padding: 30px;
}
legend{
    font-size: 30px;
    display: block;
    text-align: left;
}
input, label{
  display: block;
  margin: 0px 12%; 
} */